@media screen and (max-width: 1100px) {
  :root {
    --main-color: #418699;
    --color-dark: #333;
    --color-success: #1a7431;
    --color-warning: #ffd100;
    --color-danger: #d90429;
    --color-white: #fff;
    --color-light-white: #f0f6ff;
    --color-gray: #6c757d;
    --color-light-gray: #dee2e6;
  }
}

@media screen and (max-width: 1000px) {
  .category-product-item {
    width: calc(25% - 10px) !important;
  }
}

@media screen and (max-width: 900px) {
  .header-actions p {
    display: none;
  }

  .header-actions a {
    min-width: 44px;
  }
}

@media screen and (max-width: 800px) {
  .category-product-item {
    width: calc(33% - 10px) !important;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    width: 30%;
  }

  .header-search {
    width: 50%;
  }

  .header-actions {
    position: fixed;
    background: var(--color-light-white);
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 10px;

    a:hover {
      background: var(--color-white);
    }

    a.active {
      background: var(--color-white);

      i {
        color: var(--main-color);
      }
    }
  }

  .swiper {
    height: 300px;

    .swiper-slide {
      height: 300px;
    }
  }

  .order-upper {
    flex-direction: column;
  }

  .order-details {
    width: 100%;
    min-width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .category-product-item {
    width: calc(50% - 10px) !important;
  }
}

@media screen and (max-width: 500px) {
  .header-search {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .category-product-item {
    height: 400px !important;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    display: none;
  }

  .profile-details {
    flex-direction: column;
  }

  .profile-item {
    width: 100% !important;
  }

  .order-item {
    img {
      min-width: 100px !important;
      height: 100px !important;
    }
  }
}

@media screen and (max-width: 300px) {}